* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f0f0f0;
}

.ui-container {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

.main-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}

.task-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  width: 300px;
  font-size: 1rem;
  margin-top: 20px;
}

.button-input {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.task-list {
  text-align: center;
  margin-top: 50px;
  background-color: white;
  justify-content: center;
  padding: 20px;
}

.task-item {
  background-color: cornflowerblue;
  margin: 10px;
  margin-top: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 250px;
}

.button-input-delete {
  background-color: crimson;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
